<div ng-controller="finiteAutomataCtrl" class="input-panel">
    <div class="row">
        <div class = "col-sm-12" id="turing-input"></div>
    </div>
    <div class="row">
        <div class = "col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0);">输入判断</a></li>
                <li><a href="javascript:void(0);">转上下文无关文法</a></li>
            </ul>
            <div id="turing-accept-test">
                <div class="input-group">
                    <span class="input-group-addon">接受</span>
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">检测</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
